.address {
  font-style: inherit;
}

.address__link {
  color: var(--dark-bg-text);
}

.address__item a {
  color: var(--mail-tel-color);
}

.address__item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}
