.logo {
  padding-top: 25px;
  padding-bottom: 25px;

  text-decoration: none;
  color: var(--logo-black-cl);
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.19;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.logo > span {
  color: var(--accent-color);
}
