.overlay {
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  position: absolute;

  background: rgba(47, 48, 58, 0.8);
}
.overlay__container {
  position: relative;
  overflow: hidden;
}

.overlay__txt--container {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: translateY(100%);
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.overlay__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 168px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--dark-bg-text);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 479.98px) {
    width: 280px;
    font-size: 14px;
  }
}
