.socials {
  margin-top: 16px;
  display: inline-flex;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--dark-bg-text);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .socials__icon--svg,
  &:focus .socials__icon--svg {
    fill: var(--dark-bg-text);
  }
}

.socials__icon--svg {
  width: 20px;
  height: 20px;
  fill: var(--icons-fill);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
