:root {
  --accent-color: #2196f3;
  --titles-color: #212121;
  --main-text-color: #757575;
  --dark-bg-text: #ffffff;
  --mail-tel-color: rgba(255, 255, 255, 0.6);
  --logo-black-cl: #000000;
  --icons-fill: #afb1b8;

  --dark-background: #2f303a;
  --second-background: #f5f4fa;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
