.head {
  border: 1px solid #ececec;
}

.head__logo {
  padding-top: 15px;
  padding-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-right: 95px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.head__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.head__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
