.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero {
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  max-width: 1600px;
  background-color: var(--dark-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/bg/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // @media screen and (max-width: 767.98px) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../../images/mobile/hero/hero.jpg);
  // }
  // @media screen and (min-width: 768px) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../../images/tablet/hero/Hero.jpg);
  // }

  @media screen and (min-width: 1200px) {
    // background-image: linear-gradient(
    //     to right,
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url(../../images/desktop/hero/hero@2x.jpg);
    height: 600px;
  }
}

.main-page-title + button {
  text-align: center;
}
