.subscribe {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    width: 570px;
    margin-top: 0;
  }
}

.subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.subscribe__field {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  width: 450px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: var(--dark-bg-text);
  @media screen and (min-width: 1200px) {
    padding-left: 15px;
    width: 360px;
    margin-right: 10px;
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.subscribe__btn {
  margin-top: 20px;
  padding: 10px 28px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.subscribe__svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.subscribe .title--uppercase {
  @media screen and (max-width: 1199.98px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
